.formulario{
    display: flex;
    justify-content: center;
    margin: 0 0;
    padding: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgba(166, 241, 241);
    
}

.formulario form{
    max-width: 80%;
    background-color: rgba(236, 236, 236, 1);
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}