.botaoLink{
    background-color: rgb(236, 235, 127);
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 16px 0;
   

}

.botaoLink:hover{
    color: rgb(14, 157, 161);
    
}