.botao{
    background-color: rgba(166, 241, 241);
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 16px 0;

}

.botao:hover{
    color:rgb(24, 119, 119);
    
}