.home{
    background-color:rgba(166, 241, 241);;
    height: 100vh;
    padding-bottom: 500px;
    
    
        
}

.home div {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

