.botaoLogin{
    background-color: #FFF;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #rgba(166, 241, 241);
    margin: 16px 0;

}

.botaoLogin:hover{
    color:rgb(74, 192, 192);
    
}